<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

		<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern> %d - %msg%n </pattern>
			</layout>
		</appender>
		<appender name="devInfoLog"
				  class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>./server-app.log</file>
			<encoder>
				<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n </pattern>
				<charset>UTF-8</charset>
			</encoder>
			<!--滚动策略 -->
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!--路径 -->
				<fileNamePattern>${logPath}${logName}_%d-%i.log</fileNamePattern>
				<!-- 除按日志记录之外，还配置了日志文件不能超过10M，若超过10M，日志文件会以索引0开始，命名日志文件，例如log-error-2013-12-21.0.log -->
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>10MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
				<maxHistory>3</maxHistory>
			</rollingPolicy>
		</appender>

		<logger name="org.apache.http" level="info" additivity="false">
			<appender-ref ref="consoleLog"/>
		</logger>
		<root level="debug">
			<appender-ref ref="devInfoLog" />
		</root>
</configuration>
